body {
    font-family: "Helvetica Neue",Arial,sans-serif;
	color: #555;
}
.fw-widget-container{
	padding: 10px;
    margin: 5px 10px 20px;
}
.fw-widget-container.fw-widget-default{
	background: #fff;
}
.fw-widget-container.fw-widget-red,
.fw-widget-container.fw-widget-blue{
	color: #fff;
}
.fw-widget-container.fw-widget-red{
	background: #ff3333;
}
.fw-widget-container.fw-widget-blue{
	background: #80bfff;
}
